.svg-wrapper {
  width: 380px;
  margin: 100px auto 0 auto;
}

#arrow {
  transform-origin: 190px 190px;
  transform: rotate(0deg);
  transition: all 2s ease 0s;
}
#subjects {
  display: block;
  margin-bottom: 10px;
  margin-top: 50px;
}
#output {
  font-family: sans-serif;
  margin-top: 10px;
}
